body{
    text-align: center;
}

.outer{
    width: 510px;
    height: 510px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.outer .btn{
    height: 235px;
    width: 235px;
    border: 5px solid black;
    border-radius: 35px;
    box-shadow: 0px 0px 25px rgb(146, 150, 156);
}

.red{
    background-color: crimson;
}

.blue{
    background-color: cornflowerblue;
}

.green{
    background-color: darkcyan;
}

.yellow{
    background-color: yellowgreen;
}

.flash{
    background-color: rgb(255, 255, 255);
}

.user-flash{
    background-color: rgb(1, 184, 11);
}